.panel-default > .panel-heading {
    background-color: #86BC25 !important;
    color: white;
    border-color: #86BC25;
}

.panel{
	width: 80% !important;
	display:inline-block;  
	text-align:left;
}

.paddingTop{
	padding-top : 10px;
}

.containerAlignWrapper{
	text-align:center;
}

.panel-body-padding {
    padding-left: 15px !important;
}

.panel-body {
    padding: 0px;
}

.panel-border-none {
    border: none !important;
}


.panel-default {
    border-color: #ddd;
	box-shadow: 1px 1px #ddd;
    border: solid 1px #ddd;
}

.btnTransferType,.btnRelocationCategory,.btnSaveLater {
  background-color: white; 
  color: rgba(0, 163, 224, 1); 
  border: 1px solid rgba(0, 163, 224, 1);
}

.btnSubmit{
	background-color: rgba(0, 163, 224, 1); 
	color: white; 
}

.practitionerInput, input {
  outline: 0 !important;
  border: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid #ddd !important;
  box-shadow: none !important;
}

.margin-left-15px{
	margin-left: 15px;
}
.margin-10px {
    margin: 10px !important;
}
.float-right{
	float:right !important;
}

.margin-left-9percent{
	margin-left:9%;
}

.padding-bottom-20px{
	padding-bottom: 20px;
}

.width-71percent{
	width : 71%;
}

.backNavigate{
	font-size: 30px;
    cursor: pointer;
    color: rgba(0, 163, 224, 1);
    padding-left: 50px;
    padding-top: 12px;
}

#uploadVisaDocuments{
	width: 50% !important;
}

.txt-new-Request{
	 font-size: 20px !important; 
	 font-weight: bold;
	 color: black; 
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
     font-size: 14px; 
     line-height: 1.42857143; 
     color: #333; 
	 padding-left: 0%;
    padding-top: 10px;
    margin-bottom: -10px;
	text-align:center;
}

.table {
    border: 1pt solid #ddd !important;
}

button {
   /* height: 100% !important;*/
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: white !important;
}
    button:hover {
      /*  height: 100% !important;*/
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #000 !important;
        border: 1px solid #000 !important;
        color: white !important;
    }
.form-control{
    height: 100% !important;
    padding: 5px 5px !important;

}
.col-form-label {
    margin-left: 12px !important;
    width: 13% !important;
    padding-left: 12px !important;
}
.width-22Percent {
    width: 24% !important;
}
.width-30Percent {
    width: 30% !important;
}
.width-80Percent {
    width: 80% !important;
}
.width-50Percent {
    width: 50% !important;
}
.padding-0px {
padding: 0px !important;
}
.button {
    height: 100% !important;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: white !important;
}
.disabledInput {
  
    background-color: #eee !important;
    border: 1px solid #eee !important;
}
.divFileUpload {
    position: relative;
    overflow: hidden;
    height: 100% !important;
    border-radius: 5px;
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: white !important;
   /* font-size: 14px !important;*/
    padding: 5px 15px !important;
}

.inputFileUpload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100% !important;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: white !important;
}

.display-none {
display:none;
}
input[type=text] {
border: 1px solid #ccc !important;
}

.border-none {
    border: none !important;
    box-shadow: none !important;
}
label {
font-size:14px !important;
}

.btn-primary:not(.dropdown-toggle), .btn-info:not(.dropdown-toggle), .btn-default {
    border-radius: 20px;
    background-color: #000 !important;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0px, transparent 100%) !important;
    border-color: #000;
    color: white;
    border: 0px !important;
}

.errorLabel {
    color: red !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    padding: 0px !important;
}

.error {
    color: black !important;
    background-color: white !important;
    border: 1px solid red !important;
}